/* Fonts */
@font-face {
    font-family: Futura Md BT;
    font-style: normal;
    src: local('Futura Md BT'), url('../font/futura_lt_bt_light-webfont.woff') format('woff');
}

/*GENERAL*/
.mb-auto {
    margin-bottom: auto;
}

body {
    background-color: gray;
}

/*HEADER*/
header {
    background-color: black;
    height: 100vh;
    color: white;
}

.header-back {
    background-image: url("../image/LF02.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    overflow: scroll;
    padding: 20px;
    height: 100vh;
    position: relative;
}

.contentabsolute h1 {
    font-family: "Futura Md BT Bold", Helvetica, Arial, sans-serif;
    font-size: 50px;
    letter-spacing: 20px !important;
}

.contentabsolute-subtitle {
    padding-left: 40px !important;
}

.contentabsolute-subtitle h4 {
    font-style: italic;
    font-size: 25px;
}

.header-center-left {
    text-align: center;
}

.header-center-right {
    display: flex;
    flex-direction: column;
}

.header-center-right span {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 300px !important;
    font-style: italic;
}

.header-center-right .ramdon {
    height: 200px;
}

#imgh2 {
    height: 150px;
    width: 200px;
}

/*BUTTONS*/
.btn-login {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    border-radius: 0.75em;
    color: #FFFFFF;
}

.btn-login:hover, .btn-login:active {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: gray;
    color: gray;
}

.btn-register {
    background-color: #dc127b;
    border-color: #dc127b;
    color: white;
    border-radius: 0.75em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-register:hover, .btn-register:active {
    background-color: hotpink;
    border-color: gray;
    color: gray;
}

/*HEADER FOOTER*/
header footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-left a {
    color: white;
}

.social-button {
    width: 30%;
    height: 10%;
}

/* MAIN  */
main {
    background-color: whitesmoke;
}

main section {
    background-color: white;
    margin: 5px;
}

.button1 {
    margin: 1.5em 0em 1.5em 0em;
    border-radius: 0.75em;
    background-color: #dc127b;
    border-color: #dc127b;
    color: white;
    height: 3em;
    min-width: 30em;
}

/* SECTION ONE */
.section-one a, .section-one {
    color: darkblue;
}

.section-one .image-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-one img {
    height: 200px;
}

/* SECTION TWO */
/* BIG PICTURES */
.section-two {

}

.section-two-content {
    min-height: 15rem; /* change*/
}

.box-big-pic {

}

.box-big-pic img {
    height: 380px;

}

/* MEDIUM PICTURES */
.box-big-center {
    display: flex;
    flex-direction: column;
}

.box-small-pic img {
    height: 200px;
}

/* SECTION THREE  */
.section-three p {
    padding: 5px;
}

/* SECTION FOUR  */
.section-right {
    background-image: url("../image/LF61.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* SECTION FIVE  */
.section-five {
    padding: 5px;
}

.box-five-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-five-content img {
    height: 200px;
}

/*MODAL STYLE*/
.modal .modal-content .modal-dialog {
    color: black!important;
}