/* Fonts */
@font-face {
    font-family: Futura Md BT;
    font-style: normal;
    src: local('Futura Md BT'), url('../font/futura_lt_bt_light-webfont.woff') format('woff');
}

/* MODALS  */
.modal-body {
    color: black !important;
}

#flag-container img {
    height: 20px;
    width: 25px;
}

#flag-container-a img {
    height: 10px;
    width: 15px;
}

.no_show {
    display: none;
}

/*GENERAL*/
.mb-auto {
    margin-bottom: auto;
}

body {
    background-color: gray;
}

/*HEADER*/
header {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;

}

.header-back {
    background-image: url("../image/LF02.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    overflow: scroll;
    padding: 20px;
    height: 100vh;
    position: relative;
}

.contentabsolute h1 {
    font-family: "Futura Md BT Bold", Helvetica, Arial, sans-serif;
    font-size: 50px;
    letter-spacing: 20px !important;
}

.contentabsolute-subtitle {
    padding-left: 40px !important;
}

.contentabsolute-subtitle h4 {
    font-style: italic;
    font-size: 25px;
}

.header-center-left {
    text-align: center;
    margin-left: -18px;
}

.header-center-right {
    display: flex;
    flex-direction: column;
}

.header-center-right span {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 300px !important;
    font-style: italic;
}

.header-center-right .ramdon {
    height: 200px;
}

#imgh2 {
    height: 150px;
    width: 200px;
}

/*BUTTONS*/
.btn-login {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    border-radius: 0.75em;
    color: #FFFFFF;
}

.btn-login:hover, .btn-login:active {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: gray;
    color: gray;
}

.btn-register {
    background-color: #dc127b;
    border-color: #dc127b;
    color: white;
    border-radius: 0.75em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-register:hover, .btn-register:active {
    background-color: hotpink;
    border-color: gray;
    color: gray;
}

/*HEADER FOOTER*/
header footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-left a {
    color: white;
}

.social-button {
    width: 30%;
    height: 10%;
}

/* MAIN  */
main {
    background-color: white;
}

main section {
    background-color: white;
    margin: 5px;
}

.button1 {
    margin: 1.5em 0em 1.5em 0em;
    border-radius: 0.75em;
    background-color: #dc127b;
    border-color: #dc127b;
    color: white;
    height: 3em;
    min-width: 30em;
}

/* SECTION ONE */
.section-one a, .section-one {
    color: darkblue;

}

.section-one .image-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-one img {
    height: 200px;
}

.section-one h2 {
    margin-bottom: 10px !important;
}

/* SECTION TWO */
/* BIG PICTURES */
.section-two {
    margin-bottom: 10px;

}

.section-two-content {
    min-height: 15rem; /* change*/
}

.box-big-pic {
    height: 450px;
}

.big-pic {
    height: 420px !important;
    width: 250px;
}

.box-big-pic img {
    height: 380px;

}

/* MEDIUM PICTURES */
.box-big-center {
    display: flex;
    flex-direction: column;
}

.box-small-pic img {
    height: 200px;
    margin: 5px 0px;
}

/* SECTION THREE  */
.section-three {
    margin-bottom: 30px;
}

.section-three p {
    padding: 5px;

}

/* SECTION FOUR  */
.section-right {
    /*    background-image: url("../image/LF61.jpg");
        background-size: contain;
        background-repeat: no-repeat;*/
    margin: 5px;
    position: relative;
}

.background-section {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.image-section-left {
    height: 470px;
    margin-left: -17px;
}

/*PROPOSE*/
.section-four-v1 {
    color: black;
    font-weight: revert;
}

.section-four-v1 p, .section-four-v1 ul {
    background-color: rgba(108, 248, 202, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
}

.section-four-v2 img {
    width: 100%;
}
.carousel-caption{
    color: #0f0f0f;
    margin-left: -600px;
}
.section-four-v2 h5 {
    margin-bottom: 15px;

}

/* SECTION FIVE  */
.section-five {
    padding: 5px;
}

.box-five-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-five-content img {
    height: 200px;
}

/*MODAL STYLE*/
.modal .modal-content .modal-dialog {
    color: black !important;
}

/* RESPONSIVE */
/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 280px) and (max-width: 575.98px) {
    .contentabsolute h1 {
        font-size: 40px;
        text-align: center;
    }

    .responsive-custom {
        display: none;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .contentabsolute h1 {
        font-size: 40px;
        text-align: center;
    }

    .responsive-custom {
        display: none;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .non-responsive-custom {
        display: none;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .non-responsive-custom {
        display: none;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .non-responsive-custom {
        display: none;
    }

}