/* Fonts */
@font-face {
    font-family: Futura Md BT;
    font-style: normal;
    src: local('Futura Md BT'), url('../font/futura_lt_bt_light-webfont.woff') format('woff');
}

/* GENERAL */

body {
    background-color: rgba(32, 21, 61, 0.728) !important;
}

/* SECTION */
#content-out-pages, .content-out-pages, .content_outside, #content_outside {
    background-color: whitesmoke !important;
    color: rgba(32, 21, 61, 0.728);
    max-width: 95rem;
    margin-top: 0px;
    margin: auto;
    padding: 10px;
    min-height: 100vh;
}

h4 {
    font-weight: bold;
}

/* ABOUT US */
.image-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px 0px;
}

.image-content img {
    height: 180px;
}

.content-text {
    text-align: justify;
}

/*  DATING */
.image-content-subtitle img {
    height: 100px;
}

/*  AFFILIATE */
.section-a {
    color: white;
}

.position-absolute {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.position-relative {
    position: relative;
}

.section-b {
    margin-bottom: 25px;
}

.section-b, .section-b img {
    height: 100px;
}

.section-c img {
    height: 220px;
}

.section-c li {
    margin-bottom: 10px;
}

.section-d{
    margin: 15px 0px;
    text-align: justify;
}
/* RESPONSIVE */
/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 280px) and (max-width: 575.98px) {
    /*  DATING */
    .responsive-custom {
        display: none;
    }

    .dating-content-button {
        text-align: center;
    }

    /*  AFFILIATE */
    .position-absolute {
        text-align: center;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .responsive-custom {
        display: none;
    }

    .dating-content-button {
        text-align: center;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}