/* Fonts */
@font-face {
    font-family: Futura Md BT;
    font-style: normal;
    src: local('Futura Md BT'), url('../font/futura_lt_bt_light-webfont.woff') format('woff');
}

/* GENERAL */

body {
    background-color: rgba(32, 21, 61, 0.728) !important;
}

/* HEADER */
/* HEADER GENERAL*/
.header-outpage {
    position: sticky !important;
    top: 0;
    z-index: 998;
}

.header-femme {
    height: 13rem;
    color: #fff;
    background-color: #0f0f0f;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

/* HEADER GENERAL*/

/* HEADER PROFILE*/
.header-profile {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(1rem, auto);
    font-size: 2rem;
}

.header-profile-row-left {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-profile-row-center {
    grid-column: 2 / 6;
    grid-row: 1;

}

.header-profile-row-right {
    grid-column: 6;
    grid-row: 1;
}

.header-profile p {
    font-size: 1.5rem;
}

.header-profile img {
    height: 12rem;
}

.text-logo {
    position: absolute;
    top: 7rem;
    left: 16rem;
}

.header-profile a, .header-profile li, .header-profile a:hover {
    font-size: 12px;
    color: white;
}

/* logo */
#sub-img {
    height: 4em;
}

#logo-text {
    position: absolute;
    right: 3.3rem;
    top: 4.3rem;
}

/* HEADER PROFILE*/

/* SECTION */
#content-out-pages, .content-out-pages, .content_outside, #content_outside {
    background-color: white !important;
    color: rgba(32, 21, 61, 0.728);
    max-width: 95rem;
    margin-top: 0px;
    margin: auto;
    padding: 10px;
    min-height: 100vh;
}

h4 {
    font-weight: bold;
}

/* ABOUT US */
.image-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px 0px;
}

.image-content img {
    height: 180px;
}

.content-text {
    text-align: justify;
}

/*  DATING */
.image-content-subtitle img {
    height: 100px;
}

/*  AFFILIATE */
.section-a {
    color: white;
}

.position-absolute {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.position-relative {
    position: relative;
}

.section-b {
    margin-bottom: 25px;
}

.section-b, .section-b img {
    height: 100px;
}

.section-c img {
    height: 220px;
}

.section-c li {
    margin-bottom: 10px;
}

.section-d {
    margin: 15px 0px;
    text-align: justify;
}

.section-d img {
    height: 220px;
}

.section-d-content-buttons {
    text-align: right;
}

.content-button-wrap {
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-wrap {
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
    flex-direction: column;
    width: 200px;
    background-color: rgb(133, 58, 173);
    margin: 4px;
}

.content-button-wrap a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

/* RESPONSIVE */
/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 280px) and (max-width: 575.98px) {
    /*  DATING */
    .responsive-custom {
        display: none;
    }

    .dating-content-button {
        text-align: center;
    }

    /*  AFFILIATE */
    .position-absolute {
        text-align: center;
    }

    .section-d {
        margin: 15px 0px;
        text-align: center;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .responsive-custom {
        display: none;
    }

    .dating-content-button {
        text-align: center;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}