/*REGISTER STYLE*/

.box-content-white {
    background-color: white;
    color: rgb(32, 21, 61);
    padding: 20px;
}

.box-content-white p {
    margin-top: 20px;
    text-align: justify;
}

/*IMAGE CONTENT*/

.box-image img {
    height: 150px;
}

/*FORM REGISTER*/
.form-control {

}

.box-form .box-default-register {
    padding: 20px;
    padding-top: 0px;
    margin: 0px auto;
    float: none;
}

/*BUTTON*/
.form-submit-register {
    /* background-color: pink;*/
    height: 50px;
    width: 100px;
    text-align: center;
}

.form-submit-register:hover {
    background-color: gray;
    color: #FFFFFF;
}

/* RESPONSIVE */
/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 280px) and (max-width: 575.98px) {
    .responsive-custom {
        display: none;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .responsive-custom {
        display: none;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .non-responsive-custom {
        display: none;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .non-responsive-custom {
        display: none;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .non-responsive-custom {
        display: none;
    }

}

