/* Fonts */
@font-face {
    font-family: Futura Md BT;
    font-style: normal;
    src: local('Futura Md BT'), url('../font/futura_lt_bt_light-webfont.woff') format('woff');
}

/* GENERAL */
body{
    background-color: #eee;
}

/* HEADER */

.navbar-collapse .avatar {
    background-color: #fff;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}
.navbar-collapse .avatar img {
    height: 100%;
    text-align: center;
}

/* REGISTER AND LOGIN*/
.box-form .box-default{
    background: #FFFFFF;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0px;
    margin: 0px auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}

/* PEOPLE */
.user-item .avatar {
    background-color: #cccccc;
    border-radius: 550px;
    widows: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

.user-item .avatar img {
    height: 100%;
    text-align: center;
}
.user-item .user-item-content {
    padding: 10px;
    margin-left: 85px;
}
