{# HEREDA DE LAYOUT #}
{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block content %}
    <div class="col-lg-8 box-form box-form" id="edit-profile">
        <h1 class="box-header">My Profile</h1>
        <hr>

        {{ form_start (form, {'enctype':'multipart/form-data'}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}