{# HEREDA DE LAYOUT #}
{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left box-default">
            <h1 class="box-header">Traveling</h1>
            {# HSKNDR:  UNDERCONSTRUCTION #}
            <div class="text-center">
                <img src="{{ asset('assets/image/under-construction.png') }}" alt="">
            </div>
            {# HSKNDR:  UNDERCONSTRUCTION #}
        </div>
    </div>
{% endblock %}